.apex-wrapper {
    height: 100%;

    .apex-content {
        height: 100%;

        .apex-entity-hide {
            max-width: 0px;
            overflow: hidden;
            transition: max-width 0.25s linear;


        }

        .apex-entity {
            max-width: 120px;
            transition: max-width 0.25s linear;
            overflow: hidden;
        }

        .page-content {


            .dynamic-route {

                .routes {
                    margin: 0 8px;
                    overflow-x: auto;

                    .route {
                        padding: 8px;
                        background-color: $soft-grey;
                        outline: none;
                        border-top-#{$opposite-direction}-radius: 5px;
                        border-top-#{$direction}-radius: 5px;
                        margin-#{$opposite-direction}: 4px;
                        border: 1px solid #c2c2c2;

                        .label {
                            line-height: 1em;
                            display: flex;
                            flex-flow: column;
                            place-content: center;
                            height: 100%;
                        }

                        &.active {
                            background-color: white !important;
                            border: 2px solid $primary-theme-color;
                            border-bottom: transparent;
                            font-weight: bold;
                        }
                    }


                }

                .route-content {
                    padding: 4px;
                    margin-top: 0 !important;
                }
            }
        }

        .apex-selection {

            .selection-hint {
                font-size: 0.75em;
            }

            .entity {
                text-align: center;
                margin-bottom: 8px;
                word-break: break-all;
                padding: 0 8px;

                .entity-remove-icon {
                    color: $error-color;
                }

            }
        }
    }

    .events-panel {
        position: fixed;
        #{$opposite-direction}: 0;
        background: white;
        height: 600px;
        outline: none;
        margin-top: 20px;
        border-top-#{$direction}-radius: 8px;
        border-bottom-#{$direction}-radius: 8px;
        z-index: 100;

        .events-wrapper {
            width: 0;
            transition: width 0.25s linear;
            height: 100%;
            max-width: 700px;

            .events {
                overflow-y: auto;
                height: 100%;

                .event {
                    border-radius: 10px;
                    margin: 0 8px 8px 8px;
                    overflow: hidden;

                    .header {
                        padding: 4px 8px;
                        border-radius: 10px;
                        border-bottom-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                        color: white;
                        font-style: italic;

                        md-icon {
                            color: white;
                            text-align: center;
                            outline: none;
                            font-size: 1.25em;
                        }
                    }

                    .content {
                        padding: 4px;
                        min-height: 50px;

                        ol {
                            margin: 0 !important;
                        }
                    }
                }
            }

            .events-search-wrapper {
                margin-bottom: 8px;
                padding-top: 8px;
                padding-#{$direction}: 8px;

                .chips-wrapper {
                    font-size: 0.75em !important;
                    font-weight: bold;
                }

                .severity-wrapper {
                    font-size: 0.75em !important;
                    font-weight: bold;
                    padding: 4px;

                    .severity {
                        //same as chip
                        border-radius: 20px;
                        padding: 4px 8px;
                        margin: 4px;
                        border: 2px solid;

                        &.active {
                            color: white;
                        }

                        &.error-severity {
                            border-color: $error-color;
                        }

                        &.active.error-severity {
                            background-color: $error-color;
                        }

                        &.notification-severity {
                            border-color: $primary-theme-color;
                        }

                        &.active.notification-severity {
                            background-color: $primary-theme-color;
                        }

                        &.warning-severity {
                            border-color: $warning-color;
                        }

                        &.active.warning-severity {
                            background-color: $warning-color;
                        }

                        &.required-severity {
                            border-color: $success-color;
                        }

                        &.active.required-severity {
                            background-color: $success-color;
                        }
                    }
                }
            }

            &.events-wrapper-opened {
                width: 50vw !important;

                @media only screen and (max-width:768px) {
                    width: 90vw !important;
                }
            }
        }

        .toggle-events-icon-wrapper {
            text-align: center;
            position: absolute;
            height: 50px;
            #{$direction}: -20px;
            top: calc(50% - 50px);
            background-color: $primary-theme-color;
            outline: none;
            border-top-#{$direction}-radius: 100%;
            border-bottom-#{$direction}-radius: 100%;

            .expand-icon {
                color: white;
                height: 50px;
                line-height: 50px;
                font-size: 1.5em;
                position: relative;
            }

            .notification-icon {
                position: absolute;
                top: 10px;
                #{$direction}: 0px;
                height: 10px;
                width: 10px;
                min-height: 10px;
                min-width: 10px;
                max-height: 10px;
                max-width: 10px;
                line-height: 10px;
                font-size: 10px;
                animation: pulse 1s infinite;
            }

            @keyframes pulse {
                0% {
                    color: #ffa500bf;
                }

                100% {
                    color: orange;
                }
            }
        }
    }

    .user-info-wrapper {
        padding: 8px 8px 0px 8px;


        .user-icon {

            text-align: center;
            border-style: solid;
            border-radius: 100%;
            border-width: thin;
            height: auto;
            text-align: center;
            border-color: gray;
            line-height: 1;
            font-size: 2.5em;
            position: relative;
            margin-right: 8px;
            padding: 8px;
            background-color: grey;
            color: #ffffff;
            margin-#{$opposite-direction}: 8px;
        }

        #user-icon-id {
            color: white;
        }

        .info-content {
            max-height: 0px;
            transition: max-height 0.25s ease-out;
            overflow: hidden;

        }

        .info-content-showen {
            max-height: 500px !important;
            transition: max-height 0.25s ease-in;

        }





    }
}