.custom-box {
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: $soft-grey;
}


.anchor-txt {
    text-decoration: none;
    color: $blue;
    outline: none;
}

.message-box {
    padding: 10px !important;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: $error-color;
    background-color: $error-background;
    border-color: $error-border;
}

.warning-message {
    color: $warning-color;
    background-color: $warning-background;
    border-color: $warning-border;
}

.info-message {
    color: $info-color;
    background-color: $info-background;
    border-color: $info-border;
}

.grid-ellipsis td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clickable-item {
    cursor: pointer;
}

.disabled-cursor {
    cursor: not-allowed;
}

.disable-click-event {
    pointer-events: none;
}

.text-highlight {
    color: $primary-theme-white-color;
    font-weight: bold;
    background-color: $info-color;
    text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
}

.top-rule {
    border-top: 1px solid $soft-grey;
}

.right-rule {
    border-right: 1px solid $soft-grey;
}

.bottom-rule {
    border-bottom: 1px solid $soft-grey;
}

.left-rule {
    border-left: 1px solid $soft-grey;
}

.float-end {
    float: $opposite-direction;
}

.float-start {
    float: $direction;
}

.clear-float {
    clear: both;
    float: none;
}

md-input-container {
    width: 100%;
    box-sizing: border-box;

    .hint {
        font-size: 0.857em;
        opacity: 0.7;
    }
}

.inset {
    padding: 10px;
}

div.show {
    display: none;
    border-radius: 25px;
}

img.k-image {
    height: 30px;
}

md-input-container label {
    color: $grey;
}

.md-select-value.md-select-placeholder {
    color: $grey !important;
}

.draggable-element {
    cursor: move;
}

.draggable-element:active {
    cursor: move;
}

md-tabs .md-tab {
    text-transform: none;
    font-weight: bold;
    color: $black;
}

.hidden {
    visibility: hidden;
}

//this class is needed in some cases where ng-hide might be overriden by angular behavior
.no-display {
    display: none;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.legend-wrapper {
    margin: 8px 0;

    &>* {
        margin-#{$opposite-direction}: 8px;
    }
}

md-input-container {
    md-datepicker {
        .md-datepicker-input-container {
            width: calc(100% - 70px);
        }
    }
}

.hidden-overflow-x {
    overflow-x: hidden;
}

.block {
    display: block;
}

.flexible-tooltip {
    height: auto;
    overflow: auto;
    white-space: initial;
    width: 25%; //this must be relative to column width
}

.short-toolbar {
    height: 50px;
    min-height: 50px;
    max-height: 50px;

    div.md-toolbar-tools {
        md-icon {
            text-align: center;
            outline: none;
        }
    }
}

.no-margin-bottom {
    margin-bottom: 0;
}

table.bordered-column {
    border-collapse: collapse;

    th,
    tr,
    td {
        border: 1px solid $soft-grey;
        padding: 0.625em;
    }
}

.no-padding-top {
    padding-top: 0;
}

.pre-wrap {
    white-space: pre-wrap;
}

md-chips.auto-height-chips {
    md-chip {
        height: auto;
    }
}

.hide-chips {
    md-chip {
        display: none;
    }
}

.no-border {
    border: none;
}

.inline-trans-editor {
    >* {
        float: $direction;
    }
}

// .inline-trans-editor {
//     .lang-list {
//         width: 95px !important;
//         margin-#{$opposite-direction}: 5px;
//         float: $direction;
//     }
//     .lang-list-value {
//         width: calc(100% - 100px) !important;
//         min-width: 200px;
//         float: $direction;
//     }
// }
//this fixed the custom font we created
button {
    [class*='lis-']:before {
        line-height: inherit;
    }
}

[class*='lis-'] {
    vertical-align: sub;
}

.lis-input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-color: $soft-grey;
    border-bottom-width: 1px;
    outline: none;
}

.lis-input:focus {
    border-bottom-color: $primary-theme-color !important;
    border-bottom-width: 2px !important;
}

.lis-input[disabled] {
    // angular's styles of two rules
    border-bottom-color: transparent;
    color: rgba(0, 0, 0, 0.38);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.38) 0, rgba(0, 0, 0, 0.38) 33%, transparent 0);
    background-position: bottom -1px left 0;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-color: transparent;
}

.discount-amount-container {
    .label {
        color: rgba(0, 0, 0, 0.54); //angular's color
        font-size: 0.8em;
        height: 2.55em;
        margin-top: -0.45em;
    }

    input {
        width: calc(50% - 7px);
    }

    .separator {
        width: 5px;
        display: inline-block;
        font-weight: bold;
    }
}

.lis-table {
    border-collapse: collapse;
    border: 2px solid $soft-grey;

    th,
    td {
        padding: 5px;
    }

    th {
        text-align: $direction;
        font-weight: normal;
    }

    // td {
    //     border-#{$opposite-direction}: 2px solid $soft-grey;
    // }
    // tr {
    //     border-bottom: 2px solid $soft-grey;
    // }
    thead {
        tr:first-child {
            background-color: $kendo-table-header-background;
            color: $kendo-table-header;
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: $row-alt-color;
        }

        tr:hover {
            background-color: $hover-color;
        }
    }

    md-checkbox {
        margin: 0 !important;
    }
}

.hidden-field-error {
    color: $red;
    margin: -15px 5px 10px 5px;

    &+.hidden-field-error {
        margin-top: -5px;
    }
}

.machine-type-img {
    position: relative;
    margin-#{$direction}: 25px;

    img {
        max-height: 300px;
        border-width: 5px;
        border-style: solid;
        border-radius: 20px;
    }

    .img-active {
        border-color: $success-color;
    }

    .img-inactive {
        border-color: $error-color;
    }
}