<md-dialog aria-label="{{title}}">
    <form name="forgotPasswordForm" id="forgotPasswordForm" novalidate ng-submit="submit()" flex>
        <md-dialog-content flex>
            <div class="md-dialog-content" flex>
                <p flex class="md-title">{{'passwordForgotInfo' | translate}}
                </p>
                <md-input-container flex>
                    <label>
                        {{'username' | translate}}</label>
                    <input type="text" name="username" ng-model="username" ng-required="true" />
                    <div ng-messages="forgotPasswordForm.username.$error">
                        <div ng-message="required">{{'required' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" flex>
            <md-button type="submit" ng-disabled="forgotPasswordForm.$invalid">
                {{'submit' | translate}}
            </md-button>
            <md-button ng-click="cancel()">
                {{'cancel' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>