<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex class="dialog-label">{{ 'passwordForgot' | translate }}</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="fas fa-2x fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="forgotPasswordForm" id="forgotPasswordForm" novalidate ng-submit="submit()" flex>
        <md-dialog-content class="md-dialog-content">
            <p flex class="md-title">{{'passwordForgotInfo' | translate}}</p>
            <md-input-container flex>
                <label>
                    {{'username' | translate}}</label>
                <input type="text" name="username" ng-model="username" ng-required="true" />
                <div ng-messages="forgotPasswordForm.username.$error">
                    <div ng-message="required">{{'required' | translate}}</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" flex>
            <md-button class="md-primary md-raised" type="submit" ng-disabled="forgotPasswordForm.$invalid">
                {{'submit' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>